<div class="container-fluid product-component">

<div class=" product-detail-container  row container-fluid justify-content-center ">
  <div class=" product-detail my-5 col-lg-4 col-md-6 col-sm-12 col-xs-12 text-center justify-content-center ">

     <div class="product-name"> <h2>{{product.name}}</h2> </div>

     <div class="product-information justify-content-center text-center d-flex"> <p>{{product.information}}</p></div>

     <div class="product-price my-2">{{product.price}} قیمت</div>

     <div class="product-button"><button (click)="addToBasket(product)" class="add-too-basket-btn">افزودن به سبد خرید<i class="fas fa-shopping-basket"></i></button></div>


  </div>


  <div class="zoom-image-container col-lg-4 col-md-6 col-sm-12 col-xs-12 text-center justify-content-center ">
     <div class="product-image my-2"><img [src]="product.image" class="product-picture"></div>
     <a (click)="addToFavorite(product)" class="add-too-favorite-container "><p class="favorite-text">افزودن به علاقه مندی ها</p><i class="far fa-heart my-1 mx-1"></i></a>
  </div>
</div>

<app-product-offers></app-product-offers>
</div>



