$blue1 :#5d8496 ;
$blue2 :#80AAFF;
$blue3:rgb(60, 60, 250) ;
$gray:#9E9E9E ;

@media(max-width:768px){
  .product-detail{
    order:2!important;
  }

  .add-too-favorite-container{
    justify-content: center !important;
  }
}

.product-detail-container{
margin-bottom: 40px ;
}
.product-component{

  a{color:black;}

  .product-detail{
   display: flex ;
   flex-direction: column;
   order:1;


   .product-name{
     flex-grow: 1;
     h2{color:#759FB2;}
   }

   .product-information{
     flex-grow: 4;

    p{font-size: 13px;
    max-width:400px;
  }

   }

   .product-button{
     flex-grow: 2;
     button{
      border:2px solid $blue1;
      color:$blue1;
      padding: 9px;
      background:transparent;
      border-radius: 6px;
      transition: 0.5s;
     }

     button:hover{
      border:2px solid $blue1;
      color:white;
      padding: 9px;
      background:$blue1;
      border-radius: 6px;
     }

   }

   .product-price{
     flex-grow: 1;
     color:$blue1;
     font-weight: 700;
   }
  }

   .zoom-image-container{
    display: flex ;
    flex-direction: column;
    order:1;
   }


   .product-image{
     flex-grow: 5;

     .product-picture{
      max-width:70%;
     }
   }

   .add-too-favorite-container{
     flex-grow: 1;
     display: inline-flex;
     justify-content: flex-end;
     p{
       font-size: 12px;
       color:$blue1;
     }
     i{
      font-size: 12px;
      color:$blue1;
     }
   }



}

