

<div class=" signup-component container-fluid ">

  <form class="signup-inputs container-fluid text-center justify-content-center">

  <p class="signin-text col-12 text-center">اطلاعات خود را وارد کنید</p>

  <div  class="justify-content-center container-fluid">


  <div class="row justify-content-center ">
    <div >
    <input placeholder="نام" class="name-input small-input col-5">
  </div>


  <div class=" justify-content-center ">
    <input placeholder="نام خانوادگی" class="Lastname-input small-input col-5">
  </div>
</div>


  <div >
    <input placeholder="نام کاربری" class="username-input big-input col-12">
  </div>

  <div>
    <input placeholder="ایمیل" class="email-input big-input col-12">
  </div>

  <div>
    <input placeholder="کلمه ی عبور" class="password-input big-input col-12">
  </div>



</div>

  <div><a class="forgot-pass-txt text-right">قبلا ثبت نام کرده ام</a>
  </div>

  <button class="signup-btn">ثبت نام</button>
  </form>

  </div>
