

<div class=" signin-component container-fluid ">

<form class="signin-inputs container-fluid text-center justify-content-center">

<p class="signin-text col-12 text-center">اطلاعات خود را وارد کنید</p>

  <div >
  <input placeholder="نام کاربری یا ایمیل" class="name-input col-12">
</div>
<div>
  <input placeholder="کلمه ی عبور" class="password-input col-12">
</div>

<div><a class="forgot-pass-txt text-right">کلمه ی عبور خود را فراموش کرده ام</a>
</div>

<button class="signin-btn">ورود</button>
</form>

</div>
