





 <nav class="navbar navbar-expand-lg navbar-light  blue-navbar mr-auto">
  <div *ngIf="!UserLoggedin && !AdminLoggedin" class=" navbar-auth navbar-brand d-flex mr-auto">
    <a class="nav-item nav-link"  [routerLink]="['signup']">ثبت نام</a>
    <a class="nav-item nav-link" [routerLink]="['signIn']">/ورود</a>
  </div>

  <div *ngIf="UserLoggedin || AdminLoggedin" class=" navbar-auth navbar-brand d-flex mr-auto">
    <a (click)="logOut()" class="nav-item nav-link sign-out"  [routerLink]="['']">خروج <i class="fas fa-sign-out-alt"></i></a>
  </div>


<div class="navbar-brand"  *ngIf="UserLoggedin">
    <a [routerLink]="['shoppingBasket']" class=" ml-auto">
    <i class="fa" style="font-size: 24px">&#xf07a;</i>
    <span class="badge badge-warning" id="lblCartCount"><small>{{CountingBasketProduct}}</small> </span>
  </a>

  <a [routerLink]="['favorite']" class="">
    <i class="fa" style="font-size: 24px">&#xf004;</i>
    <span class="badge badge-warning" id="lblCartCount"><small>{{countingFavoriteProduct}}</small> </span>
  </a>
</div>

  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
 <li>
        <a  class="nav-link">درباره ی ما</a>
       </li>

       <li>
        <a  class="nav-link">پیشنهاد ها </a>
       </li>
      <li class="nav-item">
        <a  *ngIf="!AdminLoggedin" class="nav-link" [routerLink]="['']" >محصولات</a>
      </li>
      <li>
       <a *ngIf="AdminLoggedin" class="nav-link" [routerLink]="['editProducts']">ویرایش محصولات</a>
      </li>


    </ul>
  </div>
</nav>




<router-outlet></router-outlet>





<div class="position-relative">
  <footer class="pet-footer container-fluid text-center pb-0 mb-0">
    <div>

    <div class="footer-icons my-5">
      <a class="mx-2"> <i class="fas fa-envelope"></i></a>

    <a class="mx-2" > <i class="fas fa-paper-plane"></i></a>

    <a class="mx-2"><i class="fas fa-at"></i></a>
    </div>


    </div>


    <p class="">powered by TaavSystem</p>
  </footer>
</div>



