<div class="container-fluid home-component">

<div class="top-of-homeComponent text-center justify-content-center d-flex row py-5 mx-5">
<div class="products-searchbar justify-content-center d-flex col-lg-4 col-md-4 col-sm-4 col-xs-12">

  <div class="input-group rounded">
    <input
    type="search"
     class="form-control rounded"
     placeholder="جستجو"
     aria-label="Search"
    aria-describedby="search-addon"
    ng-model="searchText"/>
    <span class="input-group-text border-0" id="search-addon">
      <i class="fas fa-search"></i>
    </span>
  </div>


</div>

<div class="product-title  col-lg-4 col-md-4 col-sm-4 col-xs-12"> <h3>محصولات</h3></div>

<div class="products-filter justify-content-center d-flex  col-lg-4 col-md-4 col-sm-4 col-xs-12">

<span class="filter-container ">
  <p class="filter-text">فیلتر</p>


  <div class="form-check date-filter">
    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
    <label class="form-check-label" for="flexCheckDefault">
     بر اساس تاریخ ثبت محصول
    </label>
  </div>
  <div class="form-check type-filter">
    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
    <label class="form-check-label" for="flexCheckChecked">
      بر اساس نوع محصول
    </label>

    <div class="form-check pet-type type1">
      <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault0">
      <label class="form-check-label" for="flexRadioDefault1">
       همه
      </label>
    </div>

    <div class="form-check pet-type type1">
      <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
      <label class="form-check-label" for="flexRadioDefault1">
        غذا
      </label>
    </div>
    <div class="form-check pet-type type2">
      <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" >
      <label class="form-check-label" for="flexRadioDefault2">
        قلاده
      </label>
    </div>
    <div class="form-check pet-type type3">
      <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault3">
      <label class="form-check-label" for="flexRadioDefault1">
        اسکرچر
      </label>
    </div>
    <div class="form-check pet-type type4">
      <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault4" >
      <label class="form-check-label" for="flexRadioDefault2">
        جای خواب
      </label>
    </div>


  </div>

</span>

</div>
  </div>


<div class="container-fluid text-center ">

<div  class="cards justify-content-center row my-5 mx-3">
<div *ngFor="let product of products"    class=" mx-3 my-3 col-lg-3 col-md-3 col-sm-6 col-xs-12 ">
<div  [style.background]="product.availablity ? 'transparent' : '#da9c9c21' "
[style.border]="product.availablity ? '2px solid rgb(189, 188, 188)' : '2px solid #C86E6E'" class="one-card "
>

  <a [routerLink]="['product' , product.id]">
  <div class="product-image-container"> <img class="product-picture" src="{{product.image}}"> </div>
    <div class="product-name-container my-3"> <p class="product-name">{{product.name}}</p>
    <p class="availablity" [style.color]="product.availablity ? 'green' :'#C86E6E'  " >{{product.availablity ? 'موجود' : 'ناموجود'}}</p>
    </div>
  </a>

    <div class="product-icons my-3">
    <a (click)="favoriteComponent.addToFavorite(product);" class="product-heart-icon mx-2"><i class="far fa-heart"></i></a>
    <a (click)="basketlistComponent.addToBasket(product)"  class="product-basket-icon mx-2"><i class="fas fa-shopping-basket"></i></a>
  </div>
</div>
</div>




</div>

</div>



</div>
