<div class="container-fluid home-component">

  <div class="top-of-homeComponent text-center justify-content-center d-flex">
<div class="products-searchbar">hh</div>

<div class="product-title"> <h3>محصولات</h3></div>

<div class="products-filter">nn</div>
  </div>


<div class="container-fluid text-center ">

<div class="cards justify-content-center row my-5 mx-3">

<a class="one-card mx-3 my-3 col-lg-3 col-md-3 col-sm-6 col-xs-12 " [routerLink]="['product']">
<div class="product-image-container"> <img class="product-picture" src="../../assets/images/4181.jpg"> </div>
<div class="product-name-container my-3"> <p class="product-name">قلاده ی گربه</p> </div>
<div class="product-icons my-3">
<a  class="product-heart-icon mx-2"><i class="far fa-heart"></i></a>
<a  class="product-basket-icon mx-2"><i class="fas fa-shopping-basket"></i></a>
</div>
</a>



<a class="one-card mx-3 my-3 col-lg-3 col-md-3 col-sm-6 col-xs-12  ">
  <div class="product-image-container"> <img class="product-picture" src="../../assets/images/120173296.jpg"> </div>
  <div class="product-name-container my-3"> <p class="product-name">جای خواب گربه</p> </div>
  <div class="product-icons my-3">
  <a  class="product-heart-icon mx-2"><i class="far fa-heart"></i></a>
  <a  class="product-basket-icon mx-2"><i class="fas fa-shopping-basket"></i></a>
  </div>
  </a>



<a class="one-card mx-3 my-3 col-lg-3 col-md-3 col-sm-6 col-xs-12 ">
  <div class="product-image-container"> <img class="product-picture" src="../../assets/images/images.jpg"> </div>
  <div class="product-name-container my-3"> <p class="product-name">ظرف غذای گربه</p> </div>
  <div class="product-icons my-3">
  <a  class="product-heart-icon mx-2"><i class="far fa-heart"></i></a>
  <a  class="product-basket-icon mx-2"><i class="fas fa-shopping-basket"></i></a>
  </div>
  </a>

  <a class="one-card mx-3 my-3 col-lg-3 col-md-3 col-sm-6 col-xs-12 ">
    <div class="product-image-container"> <img class="product-picture" src="../../assets/images/4181.jpg"> </div>
    <div class="product-name-container my-3"> <p class="product-name">قلاده ی گربه</p> </div>
    <div class="product-icons my-3">
    <a  class="product-heart-icon mx-2"><i class="far fa-heart"></i></a>
    <a  class="product-basket-icon mx-2"><i class="fas fa-shopping-basket"></i></a>
    </div>
    </a>



    <a class="one-card mx-3 my-3 col-lg-3 col-md-3 col-sm-6 col-xs-12  ">
      <div class="product-image-container"> <img class="product-picture" src="../../assets/images/120173296.jpg"> </div>
      <div class="product-name-container my-3"> <p class="product-name">جای خواب گربه</p> </div>
      <div class="product-icons my-3">
      <a  class="product-heart-icon mx-2"><i class="far fa-heart"></i></a>
      <a  class="product-basket-icon mx-2"><i class="fas fa-shopping-basket"></i></a>
      </div>
      </a>



    <a class="one-card mx-3 my-3 col-lg-3 col-md-3 col-sm-6 col-xs-12 ">
      <div class="product-image-container"> <img class="product-picture" src="../../assets/images/images.jpg"> </div>
      <div class="product-name-container my-3"> <p class="product-name">ظرف غذای گربه</p> </div>
      <div class="product-icons my-3">
      <a  class="product-heart-icon mx-2"><i class="far fa-heart"></i></a>
      <a  class="product-basket-icon mx-2"><i class="fas fa-shopping-basket"></i></a>
      </div>
      </a>



</div>

</div>



</div>
