@media(min-width:768px){}

@media(max-width:768px){
  .top-of-homeComponent{
    .products-filter{
      margin-top:30px;
    }
  }
}

@media(max-width:468px){}

@media(max-width:975px){
  .product-picture{
    max-width:150px!important;
  }
}

$blue1 :#759FB2 ;
$blue2 :#80AAFF;
$blue3:rgb(60, 60, 250) ;
$gray:#9E9E9E ;

a{cursor: pointer;}



.home-component{

    .top-of-homeComponent{
text-align:center ;

     h3{color:$blue2;
      text-align: center;
      font-size: 30px;
      margin-top: 40px;}

border-bottom: 2px solid rgb(206, 206, 206) ;


   .products-searchbar{

    .input-group-text{
      max-height: 25px;
    }
     .rounded{ max-width: max-content;}
     input{direction:rtl;}
   }


   .filter-container {

    .form-check.type-filter>* {
      border-bottom: 1px solid #e6e6e6;
      margin-bottom: 5px;
  }

    .filter-text{
      color: $blue1;
      font-size: 15px;
      font-weight: 600;
    }

    .form-check{
      display:grid !important;
    }
   }
}


     .cards{

      .one-card:hover{
border: 2px solid $blue1;
box-shadow: 2px 2px 4px grey;
      }

     .one-card{
       transition: 0.2s;
  border: 2px solid rgb(189, 188, 188);
  border-radius: 6px;
  display: flex;
  flex-direction: column;
      .product-name{
        font-size: 15px;
        font-weight: 500;
      }
      .product-image-container{
  flex-grow: 5;
  img{max-width: 200px;}
}

      .product-name-container{
  flex-grow: 1;
  p{color:$blue1;}
}

      .product-icons{
  flex-grow: 1;
  text-align: left;

       i{font-size:20px;
color: $blue1;}


}

}


}



}
