@media(min-width:768px){}

@media(max-width:768px){}

@media(max-width:468px){}

@media(max-width:975px){
  .product-picture{
    max-width:150px!important;
  }
}

$blue1 :#759FB2 ;
$blue2 :#80AAFF;
$blue3:rgb(60, 60, 250) ;
$gray:#9E9E9E ;

a{cursor: pointer;}



.home-component{

    .top-of-homeComponent{
text-align:center ;

     h3{color:$blue2;
text-align:center;}

border-bottom: 2px solid rgb(206, 206, 206) ;;
}


     .cards{

     .one-card{
  border: 2px solid rgb(189, 188, 188);
  border-radius: 6px;
  display: flex;
  flex-direction: column;

      .product-image-container{
  flex-grow: 5;
  img{max-width: 200px;}
}

      .product-name-container{
  flex-grow: 1;
  p{color:$blue1;}
}

      .product-icons{
  flex-grow: 1;
  text-align: left;

       i{font-size:20px;
color: $blue1;}


}

}


}



}
