<div class="product-offers-component container-fluid">
  <div class="offers-title text-center my-5"><h4>پیشنهاد ها</h4></div>

  <carousel class="offer-slider justify-content-center row" [itemsPerSlide]="itemsPerSlide"
            [singleSlideOffset]="false"
            [interval]="false"
            [indicatorsByChunk]="true"
            [showIndicators]="false">
    <slide *ngFor="let offer of productOffers; let index=index" class="justify-content-center col-12">
      <a>
        <img [src]="offer.image" alt="image slide" style="display: block; width: 100%;">
      <p class="offer-caption text-center">{{offer.name}}</p>
      </a>

    </slide>
  </carousel>

  </div>


