
<div class="justify-content-center row container-fluid fav-title"><p class=" basket-title text-center col-12 my-5 py-5">علاقه مندی ها </p></div>

<div class="basket-product-container justify-content-center container-fluid">

<ul class="product-lists cotainer-fluid text-center justify-content-center ">
    <li *ngFor="let favorite of favoriteProduct" class="added-product basket-product row my-5" >

        <div class="product-image col-lg-3 col-md-3 col-sm-4 ">
          <img class="image-picture my-3" src="{{favorite.image}}">
        </div>


        <div class="product-name col-lg-6 col-md-6 col-sm-4 my-5">
        <h2>{{favorite.name}}</h2>
        <p>قیمت :{{favorite.price}}</p>
        </div>


        <div class="product-btn col-lg-3 col-md-3 col-sm-4 my-5">
        <button (click)="removeFromFavortie(favorite)" class="remove-btn">حذف از لیست  <i class="far fa-window-close my-1 mx-1"></i></button>
        <a  (click)="addToBasket(favorite)" class="add-too-favorite-container justify-content-center "><p class="favorite-text">افزودن به سبد خرید</p><i class="fas fa-shopping-basket my-1 mx-1"></i></a>
        </div>

    </li>




</ul>



</div>
